
<style>
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #dedada;
	opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #dedada;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: #dedada;
}

.dataTables_filter {
	margin-bottom: 30px;
}

.dataTables_filter input {
	width: 400px
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}
</style>
<header
	class="header fixed-top d-flex align-items-center header-scrolled">
	<a href="/"
		class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none justify-content-start">
		<img src="assets/img/logo.png" style="max-height: 44px;">
	</a> <i class="bi bi-list toggle-sidebar-btn sidetoggle"></i>
	<div
		class="pagetitle d-flex align-items-center justify-content-between">
		<h3 class="headingtop">IT Services Projects Report</h3>
	</div>
	<nav class="header-nav ms-auto">
		<ul class="d-flex align-items-center user-link">
			<li class="nav-item d-block d-lg-none"><a
				class="nav-link nav-icon search-bar-toggle" href="#"> </a></li>
		</ul>
	</nav>
</header>